In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [ ]:
#Collegamento al Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Elaborazione Medie

In [ ]:
with open("/content/drive/MyDrive/KPMG/RegressionDataset.xlsx", 'rb') as fp:
    df = pd.read_excel(fp)

In [ ]:
df

,AnnoAccademico,Ateneo,PopolazioneP,AteneiP,PopolazioneR,AteneiR,Fuorisede,Immatricolati
0,2010/2011,Aosta,126957,1,126957,1,31,188
1,2011/2012,Aosta,127153,1,127153,1,21,172
2,2012/2013,Aosta,127305,1,127305,1,31,173
3,2013/2014,Aosta,127951,1,127951,1,54,192
4,2014/2015,Aosta,128245,1,128245,1,52,181
...,...,...,...,...,...,...,...,...
644,2016/2017,Verona,918050,1,4890648,4,2509,4553
645,2017/2018,Verona,918069,1,4883373,4,2477,4484
646,2018/2019,Verona,919179,1,4880936,4,2098,3874
647,2019/2020,Verona,922857,1,4884590,4,2082,3785
648,2020/2021,Verona,927108,1,4870000,4,2547,4718

In [ ]:
lista_atenei=df['Ateneo'].unique()

In [ ]:
lista_fuorisede_ateneo=[]
dizionario_lista_differenze={}

for ateneo in lista_atenei[:]:
    df_mask=df['Ateneo']==ateneo
    filtered_df = df[df_mask]
    lista_fuorisede_ateneo=list(filtered_df['Fuorisede'])
    temp={ateneo: lista_fuorisede_ateneo}
    dizionario_lista_differenze.update(temp)

In [ ]:
lista_differenze=[]
dizionario={}

for ateneo in lista_atenei[:]:
  for i in range(0,len(dizionario_lista_differenze[ateneo])-1):
    risultato=dizionario_lista_differenze[ateneo][i+1]-dizionario_lista_differenze[ateneo][i]
    lista_differenze.append(risultato)
  #temp={ateneo: lista_differenze}
  mean = sum(lista_differenze)/len(lista_differenze)
  lista_differenze=[]
  temp={ateneo: mean}
  dizionario.update(temp)

In [ ]:
df_fuorisede = pd.DataFrame(list(dizionario.items()),columns = ['Ateneo','Fuorisede'])

In [ ]:
df_fuorisede

                    Ateneo  Fuorisede
0                    Aosta        4.2
1                     Bari      -79.0
2         Bari Politecnico       -2.1
3               Basilicata       -1.8
4                  Bergamo       54.0
5                  Bologna      123.9
6                  Brescia       37.1
7                 Cagliari       12.5
8                 Calabria       21.2
9                  Catania       26.8
10               Catanzaro       21.5
11        Chieti e Pescara     -214.1
12               Enna KORE      -34.2
13                 Ferrara      409.7
14                 Firenze       78.2
15                  Foggia       44.6
16                  Genova       59.5
17                Macerata       16.8
18                  Marche       17.8
19                 Messina       40.4
20                  Milano       69.9
21          Milano Bicocca      -40.4
22          Milano Bocconi       17.5
23        Milano Cattolica       72.4
24             Milano IULM       61.3
25      Milano Politecnico       94.7
26     Milano San Raffaele       11.1
27  Modena e Reggio Emilia      160.7
28                  Molise        3.8
29        Napoli Benincasa        5.7
30      Napoli Federico II       44.6
31      Napoli L'Orientale       33.1
32       Napoli Parthenope      -24.8
33       Napoli Vanvitelli      -57.3
34                  Padova      178.9
35                 Palermo       13.4
36                   Parma       33.8
37                   Pavia       79.1
38                 Perugia      101.5
39                    Pisa       42.0
40          Roma Biomedico        7.3
41       Roma Foro Italico        1.8
42              Roma LUISS       11.6
43              Roma LUMSA       -6.0
44        Roma La Sapienza      -24.1
45        Roma Tor Vergata       -3.5
46                Roma Tre        0.8
47                 Salerno       55.9
48                 Sassari        7.4
49                   Siena      -43.5
50                  Teramo        0.0
51                  Torino      201.9
52      Torino Politecnico       92.1
53                  Trento       30.2
54                 Trieste       10.3
55                   Udine       13.8
56       Venezia C Foscari       63.7
57            Venezia Iuav      -19.4
58                  Verona       -1.7

In [ ]:
df_fuorisede.to_excel("/content/drive/MyDrive/KPMG/Risultato_fuorisede.xlsx", sheet_name="Risultati", index=False)

Immatricolazioni

In [ ]:
dizionario_lista_differenze={}

for ateneo in lista_atenei[:]:
    df_mask=df['Ateneo']==ateneo
    filtered_df = df[df_mask]
    lista_fuorisede_ateneo=list(filtered_df['Immatricolati'])
    temp={ateneo: lista_fuorisede_ateneo}
    dizionario_lista_differenze.update(temp)

In [ ]:
lista_differenze=[]
dizionario={}

for ateneo in lista_atenei[:]:
  for i in range(0,len(dizionario_lista_differenze[ateneo])-1):
    risultato=dizionario_lista_differenze[ateneo][i+1]-dizionario_lista_differenze[ateneo][i]
    lista_differenze.append(risultato)
  #temp={ateneo: lista_differenze}
  mean = sum(lista_differenze)/len(lista_differenze)
  lista_differenze=[]
  temp={ateneo: mean}
  dizionario.update(temp)

In [ ]:
dizionario

{'Aosta': 5.6,
 'Bari': -140.7,
 'Bari Politecnico': 11.0,
 'Basilicata': -8.4,
 'Bergamo': 83.7,
 'Bologna': 177.3,
 'Brescia': 78.2,
 'Cagliari': 33.3,
 'Calabria': -19.8,
 'Catania': 16.2,
 'Catanzaro': 24.4,
 'Chieti e Pescara': -214.5,
 'Enna KORE': -41.3,
 'Ferrara': 443.0,
 'Firenze': 166.4,
 'Foggia': 93.2,
 'Genova': 128.1,
 'Macerata': 27.4,
 'Marche': 16.7,
 'Messina': 20.8,
 'Milano': 45.8,
 'Milano Bicocca': -48.9,
 'Milano Bocconi': 22.5,
 'Milano Cattolica': 123.3,
 'Milano IULM': 103.6,
 'Milano Politecnico': 113.1,
 'Milano San Raffaele': 25.7,
 'Modena e Reggio Emilia': 201.8,
 'Molise': -7.8,
 'Napoli Benincasa': 3.5,
 'Napoli Federico II': 78.4,
 "Napoli L'Orientale": 60.0,
 'Napoli Parthenope': -93.8,
 'Napoli Vanvitelli': -38.3,
 'Padova': 218.0,
 'Palermo': 97.0,
 'Parma': 66.8,
 'Pavia': 75.9,
 'Perugia': 188.2,
 'Pisa': 59.2,
 'Roma Biomedico': 19.8,
 'Roma Foro Italico': 17.0,
 'Roma LUISS': 61.4,
 'Roma LUMSA': 22.4,
 'Roma La Sapienza': 214.4,
 'Roma Tor Vergata': -4.2,
 'Roma Tre': -24.0,
 'Salerno': 61.1,
 'Sassari': 40.7,
 'Siena': -17.0,
 'Teramo': 10.7,
 'Torino': 355.4,
 'Torino Politecnico': 62.7,
 'Trento': 4.6,
 'Trieste': 25.6,
 'Udine': 36.5,
 'Venezia C Foscari': 81.3,
 'Venezia Iuav': 286.7,
 'Verona': -8.6}

In [ ]:
df_immatricolazioni = pd.DataFrame(list(dizionario.items()),columns = ['Ateneo','Immatricolazioni'])

In [ ]:
df_immatricolazioni.to_excel("/content/drive/MyDrive/KPMG/Risultato_immatricolazioni.xlsx", sheet_name="Risultati", index=False)

PopolazioneP

In [ ]:
dizionario_lista_differenze={}

for ateneo in lista_atenei[:]:
    df_mask=df['Ateneo']==ateneo
    filtered_df = df[df_mask]
    lista_fuorisede_ateneo=list(filtered_df['PopolazioneP'])
    temp={ateneo: lista_fuorisede_ateneo}
    dizionario_lista_differenze.update(temp)

In [ ]:
lista_differenze=[]
dizionario={}

for ateneo in lista_atenei[:]:
  for i in range(0,len(dizionario_lista_differenze[ateneo])-1):
    risultato=dizionario_lista_differenze[ateneo][i+1]-dizionario_lista_differenze[ateneo][i]
    lista_differenze.append(risultato)
  #temp={ateneo: lista_differenze}
  mean = sum(lista_differenze)/len(lista_differenze)
  lista_differenze=[]
  temp={ateneo: mean}
  dizionario.update(temp)

In [ ]:
dizionario

{'Aosta': -295.7,
 'Bari': -2665.6,
 'Bari Politecnico': -2665.6,
 'Basilicata': -3761.8,
 'Bergamo': 2303.1,
 'Bologna': 4213.4,
 'Brescia': 2379.3,
 'Cagliari': -448.7,
 'Calabria': -11262.4,
 'Catania': -1968.2,
 'Catanzaro': -2025.7,
 'Chieti e Pescara': -1399.9,
 'Enna KORE': -1909.4,
 'Ferrara': -1511.6,
 'Firenze': 1362.8,
 'Foggia': -4285.1,
 'Genova': -5331.0,
 'Macerata': -1568.5,
 'Marche': -4880.0,
 'Messina': -5493.9,
 'Milano': 20225.8,
 'Milano Bicocca': 20225.8,
 'Milano Bocconi': 20225.8,
 'Milano Cattolica': 20225.8,
 'Milano IULM': 20225.8,
 'Milano Politecnico': 20225.8,
 'Milano San Raffaele': 20225.8,
 'Modena e Reggio Emilia': 2404.0,
 'Molise': -2193.9,
 'Napoli Benincasa': -10943.3,
 'Napoli Federico II': -10943.3,
 "Napoli L'Orientale": -10943.3,
 'Napoli Parthenope': -10943.3,
 'Napoli Vanvitelli': -10943.3,
 'Padova': 1122.9,
 'Palermo': -4931.0,
 'Parma': 2133.3,
 'Pavia': -208.3,
 'Perugia': -1401.5,
 'Pisa': 525.2,
 'Roma Biomedico': 21455.4,
 'Roma Foro Italico': 21455.4,
 'Roma LUISS': 21455.4,
 'Roma LUMSA': 21455.4,
 'Roma La Sapienza': 21455.4,
 'Roma Tor Vergata': 21455.4,
 'Roma Tre': 21455.4,
 'Salerno': -4063.4,
 'Sassari': -889.0,
 'Siena': -754.5,
 'Teramo': -962.1,
 'Torino': -6334.9,
 'Torino Politecnico': -6334.9,
 'Trento': 2062.7,
 'Trieste': -385.6,
 'Udine': -2110.4,
 'Venezia C Foscari': -940.7,
 'Venezia Iuav': -940.7,
 'Verona': 2474.1}

In [ ]:
df_PopolazioneP = pd.DataFrame(list(dizionario.items()),columns = ['Ateneo','PopolazioneP'])

In [ ]:
df_PopolazioneP.to_excel("/content/drive/MyDrive/KPMG/Risultato_PopolazioneP.xlsx", sheet_name="Risultati", index=False)

PopolazioneR

In [ ]:
dizionario_lista_differenze={}

for ateneo in lista_atenei[:]:
    df_mask=df['Ateneo']==ateneo
    filtered_df = df[df_mask]
    lista_fuorisede_ateneo=list(filtered_df['PopolazioneR'])
    temp={ateneo: lista_fuorisede_ateneo}
    dizionario_lista_differenze.update(temp)

In [ ]:
lista_differenze=[]
dizionario={}

for ateneo in lista_atenei[:]:
  for i in range(0,len(dizionario_lista_differenze[ateneo])-1):
    risultato=dizionario_lista_differenze[ateneo][i+1]-dizionario_lista_differenze[ateneo][i]
    lista_differenze.append(risultato)
  #temp={ateneo: lista_differenze}
  mean = sum(lista_differenze)/len(lista_differenze)
  lista_differenze=[]
  temp={ateneo: mean}
  dizionario.update(temp)

In [ ]:
dizionario

{'Aosta': -295.7,
 'Bari': -15611.1,
 'Bari Politecnico': -15611.1,
 'Basilicata': -3761.8,
 'Bergamo': 31138.6,
 'Bologna': 9850.9,
 'Brescia': 31138.6,
 'Cagliari': -6371.1,
 'Calabria': -11262.4,
 'Catania': -21004.5,
 'Catanzaro': -11262.4,
 'Chieti e Pescara': -4501.5,
 'Enna KORE': -21004.5,
 'Ferrara': 9850.9,
 'Firenze': -1359.2,
 'Foggia': -15611.1,
 'Genova': -7353.7,
 'Macerata': -4880.0,
 'Marche': -4880.0,
 'Messina': -21004.5,
 'Milano': 31138.6,
 'Milano Bicocca': 31138.6,
 'Milano Bocconi': 31138.6,
 'Milano Cattolica': 31138.6,
 'Milano IULM': 31138.6,
 'Milano Politecnico': 31138.6,
 'Milano San Raffaele': 31138.6,
 'Modena e Reggio Emilia': 9850.9,
 'Molise': -2193.9,
 'Napoli Benincasa': -18346.4,
 'Napoli Federico II': -18346.4,
 "Napoli L'Orientale": -18346.4,
 'Napoli Parthenope': -18346.4,
 'Napoli Vanvitelli': -18346.4,
 'Padova': 662.8,
 'Palermo': -21004.5,
 'Parma': 9850.9,
 'Pavia': 31138.6,
 'Perugia': -1993.7,
 'Pisa': -1359.2,
 'Roma Biomedico': 21397.4,
 'Roma Foro Italico': 21397.4,
 'Roma LUISS': 21397.4,
 'Roma LUMSA': 21397.4,
 'Roma La Sapienza': 21397.4,
 'Roma Tor Vergata': 21397.4,
 'Roma Tre': 21397.4,
 'Salerno': -18346.4,
 'Sassari': -6371.1,
 'Siena': -1359.2,
 'Teramo': -4501.5,
 'Torino': -12657.2,
 'Torino Politecnico': -12657.2,
 'Trento': 5501.9,
 'Trieste': -2391.0,
 'Udine': -2391.0,
 'Venezia C Foscari': 662.8,
 'Venezia Iuav': 662.8,
 'Verona': 662.8}

In [ ]:
df_PopolazioneR = pd.DataFrame(list(dizionario.items()),columns = ['Ateneo','PopolazioneR'])

In [ ]:
df_PopolazioneR.to_excel("/content/drive/MyDrive/KPMG/Risultato_PopolazioneR.xlsx", sheet_name="Risultati", index=False)